

form {
    margin: 50px 100px;
    label {
        width: 100px;
        display: inline-block;
        margin-bottom: 20px;
    }
    button {
        height: 30px;
        width: 50px;
        box-shadow: 3px 3px 3px grey;
    }
}